<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>277764772166-il2ogtcp8khipkvn0qc7uk2o2tu5lvu2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.277764772166-il2ogtcp8khipkvn0qc7uk2o2tu5lvu2</string>
	<key>API_KEY</key>
	<string>AIzaSyALIhlog-Q8v56vSBi2yy5pGEty7PGdhD8</string>
	<key>GCM_SENDER_ID</key>
	<string>277764772166</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.princekr.ios.Bitcoin-price-ios</string>
	<key>PROJECT_ID</key>
	<string>bitcoin-price-f2709</string>
	<key>STORAGE_BUCKET</key>
	<string>bitcoin-price-f2709.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:277764772166:ios:920a3490878df28bf7d547</string>
	<key>DATABASE_URL</key>
	<string>https://bitcoin-price-f2709.firebaseio.com</string>
</dict>
</plist>